/Aimlabs.url
/Canva.lnk
/ChatGPT.lnk
/Chrome Remote Desktop.lnk
/desktop.ini
/Discord.lnk
/eclipse - Shortcut.lnk
/Facebook.lnk
/Hogwarts Legacy.url
/Instagram.lnk
/iQIYI.lnk
/LINE.lnk
/Mall Simulator Prologue.url
/Medal.lnk
/Microsoft Edge.lnk
/Overwatch®.url
/Pepat - Chrome.lnk
/Spotify.lnk
/Sunset Motel Prologue.url
/Supermarket Together.url
/The Callisto Protocol.url
/Ubisoft Connect.lnk
/VPN Thailand.lnk
/VRChat.url
/Watch_Dogs 2.url